<a href="https://colab.research.google.com/github/amarindraa/rakamin/blob/main/homework_week6_kelompok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Home Work Week 6 - Kelompok

# 1. Amarindra Ardinova
# 2. Adi Panjoko
# 3. Alriski Kurniawan Padjoda

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 1. 

# Ada berapa jumlah plat genap dan ganjil. (5 poin)
# Langkah-langkah:
# a. Gunakan materi iterasi dan conditional statement yang sudah kita pelajari
# b. Manfaatkan operasi modulo (%) untuk menentukan bilang genap / ganjil
# Untuk mempermudah kamu, yuk lihat resource di bawah ini:
# ● Sesi 1 dan 2 pada Python Programming
# ● Soal ini related dengan challange pertama pada Sesi 1 Python Programming

list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM',
                   'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']

genap = 0
ganjil = 0

for x in list_plat_mobil:
    a = x.split()[1]
    a = int(a)
    
    if a % 2 == 0:
        genap += 1
    else:
        ganjil += 1

print("Total Plat Genap :", genap)
print("Total Plat Ganjil:", ganjil)

Total Plat Genap : 2
Total Plat Ganjil: 7

In [ ]:
# 2

# Buatlah deret fibonacci 12 angka yang dimulai dari 2 dan 3 menggunakan iterasi cara for atau while.
# Output yang diharapkan adalah [2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
# Sesi 2 Python Programming bagian iterasi for / while

n1 = 2
n2 = 3
n3 = n1 + n2

fibo = [n1,n2]

for x in range (10):
    n3 = n1 + n2
    fibo.append(n3)
    n1 = n2
    n2 = n3
    
print(fibo)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
# 3

# bundling category product (berisi 3 category setiap bundling)
# 1. Tidak boleh hanya memiliki 1 jenis category dalam 1 bundling
# 2. 1 Bundling boleh memiliki 2 category yang sama
# 3. Urutan tidak menjadi faktor pembeda (c1 - c2 - c3 = c2 - c1 - c3).
# Tentukan ada berapa jumlah kemungkinan bundling yang bisa terbentuk?

# a. Buatlah variable kosong untuk menampung kemungkinan kombinasi
# b. Gunakan penerapan nested for (for dalam for)
# c. Buatlah logic pengecekan apakah kombinasi 3 categori sudah ada pada variable inisiasi awal
# d. Manfaatkan fungsi sort untuk mengurutkan urutan kombinasi

bundling_list = []
list_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

for a in list_category:
    for b in list_category:
        for c in list_category:
            if a != b and a != c and b != c:
                bundling = sorted([a, b, c])
                if bundling not in bundling_list:
                    bundling_list.append(bundling)
                    
print(len(bundling_list))

120

In [ ]:
# 4

# function string_processor dengan inputan 2 parameter, string 1 kata dan nama proses.
# Function ini memiliki 4 proses
#  a. first_char : return huruf pertama dari string yang diinput 
#  b. last_char : return huruf terakhir dari string yang diinput
#  c. num_chars : return jumlah huruf string input
#  d. num_vowels : return jumlah huruf vocal pada string input


def string_processor(kata, proses="num_chars"):
    proses = proses.lower()
    if proses == "first_char":
        return (kata[0].upper())
    elif proses == "last_char":
        return (kata[-1].lower())
    elif proses == "num_chars":
        return len(kata) 
    elif proses == "num_vowels":
        vowels = "aeiouAEIOU"
        hitung = 0
        for huruf in kata:
            if huruf in vowels:
                hitung += 1
        return hitung
    else:
        return "Perintah '{}' tidak dikenali".format((proses).upper())

In [ ]:
# 5
# Buatlah 1 kolom baru pada dengan teknik apply lambda tanpa function def (cukup one liner) 
# dengan nama kolom is_gmail dengan value True jika menggunakan gmail dan False jika selain gmail.
# Tentukan ada berapa user yang menggunakan email gmail pada tahun 2018


df = pd.read_csv('rakamin_store_city_monthly.csv', sep=';')
df['is_gmail'] = df['email'].apply(lambda x : 'gmail' in x)
df[df.month.str.contains('2018')].groupby('is_gmail')['user_id'].nunique().reset_index()

   is_gmail  user_id
0     False       14
1      True        3

In [ ]:
# 6

# Buatlah function yang bisa menghitung Jumlah Sales dan Profit pada suatu tahun dan region 
# tertentu dengan default tahun 2017.
# Tentukan total sales dan profit:
# 1. South Region pada tahun 2016
# 2. West Region pada tahun 2017


import pandas as pd

df = pd.read_excel('superstore.xls')      
df['Year']=df['Order Date'].dt.year       
df = df.sort_values('Year').reset_index() 

def sales_profit(a, b=2017):
    a = a.title()
    filtered_df = df[(df['Region'] == a) & (df['Order Date'].dt.year == b)]
    grouped_df = filtered_df.groupby(['Year','Region']).agg({'Sales': 'sum', 'Profit': 'sum'})
    return grouped_df

print(sales_profit('south',2016)) # 1
print(sales_profit('west',2017))  # 2

                  Sales      Profit
Year Region
2016 South   93610.2235  17702.8084
                   Sales      Profit
Year Region
2017 West    250128.3655  43808.9561

In [ ]:
# 7




df = pd.read_excel('superstore.xls')
df['Year']=df['Order Date'].dt.year       
df = df.sort_values('Year').reset_index() 

# (1) mencari statistik data pada Kuartil untuk mendefinisikan Sales Segmen
df.describe()


# membuat definisi Sales Segment
def segmen(i):
    try:
        if i['Sales'] <= 54:
            segmen = 'Low'
        elif i['Sales'] <= 210:
            segmen = 'Medium'
        else:
            segmen = 'High'
        return segmen
    except KeyError:
        return '-'

# membuat kolom baru bernama Sales Segment
df['Sales Segment'] = df.apply(lambda i: segmen(i), axis=1)


# (2)
# alasan :
# dengan melihat nilai "Sales" pada fungsi describe(), nilai Kuartil 50% = 54.9
# sedangkan nilai Kuartil 75% = 209.94. Gapnya terlalu jauh



# (3) jumlah customer pada masing-masing segment di tahun 2017

df[df.Year == 2017].groupby('Sales Segment')['Customer ID'].nunique().reset_index()